<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio de Fotografías</title>
</head>
<body>
    <header>
        <h1>Portafolio de Fotografías</h1>
        <%- include ('partials/navigation2')%>
        <%- include ('partials/head2')%>
    
    </header>
    <style>
       
        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
        .gallery img {
            width: 1620px;
            height: 500px;
            object-fit: cover; /* Ajusta la imagen para cubrir el área sin distorsionarse */
            border: 1px solid #ccc;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    
    <div class="gallery">
        <img src="img/port/dieg/die1.png" alt="Imagen 1">
        <img src="img/port/dieg/die2.jpg" alt="Imagen 1">
        <img src="img/port/dieg/die3.jpg" alt="Imagen 1">
        <img src="img/port/dieg/die4.jpg" alt="Imagen 1">
        <img src="img/port/dieg/die5.jpg" alt="Imagen 1">
        <img src="img/port/dieg/die6.jpg" alt="Imagen 1">
        <img src="img/port/dieg/die7.jpg" alt="Imagen 1">
        <img src="img/port/dieg/die8.jpg" alt="Imagen 1">
        <img src="img/port/dieg/die9.jpg" alt="Imagen 1">

        
        



        





        




    </div>
</body>


    <footer>
        <%- include ('partials/footer')%>

    </footer>
</body>
</html>
