<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
    <%- include ('partials/navigation2')%>
    <%- include ('partials/head2')%>
  
     
    <!-- Sección con Imagen de Fondo -->
    <section class="background-section d-flex align-items-center justify-content-center">
      <div class="content text-center">
        <h1 class="section-title">SERVICIOS</h1>
        <p class="section-text">¿Estás listo para trabajar en equipo o tienes alguna pregunta? Usa la siguiente información y conectémonos.</p>
      </div>
    </section>
  
     <!-- Sección de Información -->
     <section class="info-section text-white py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5 class="text-uppercase">Jeremy Nelson Design</h5>
            <p>jeremynelsondesign@gmail.com</p>
            <p>484 716 1339</p>
            <h6 class="mt-4">Enlaces Sociales</h6>
            <ul class="list-unstyled">
              <li><a href="https://www.linkedin.com/in/jeremynelson42/" class="info-link">LinkedIn</a></li>
              <li><a href="https://twitter.com/jeremynelson42" class="info-link">Twitter</a></li>
              <li><a href="https://www.behance.net/jeremynelson" class="info-link">Behance</a></li>
              <li><a href="https://www.instagram.com/jeremynelson42/" class="info-link">Instagram</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h6 class="text-uppercase">Servicios Primarios</h6>
            <ul class="list-unstyled">
              <li>Sistemas de Identidad</li>
              <li>Diseño de Logo</li>
              <li>Diseño Tipográfico</li>
              <li>Ilustración</li>
              <li>Diseño de Iconos</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h6 class="text-uppercase">Servicios Secundarios</h6>
            <ul class="list-unstyled">
              <li>Letras</li>
              <li>Personalización de Fuentes</li>
              <li>Campañas de Marca</li>
              <li>Directrices de la Marca</li>
              <li>Diseño Ambiental</li>
              <li>Animación</li>
              <li>Diseño 3D</li>
              <li>Embalaje</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  
  
</body>

<footer>
    <%- include ('partials/footer')%>

</footer>
</html>